<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
  </head>
  <body>
    <h1>Inicia Sesión</h1>

    {% for mensaje in messages %}
    <p style="color: green">{{mensaje}}</p>
    {% endfor %}

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
      <label><input type="radio" name="remember_me">Recuérdame</label>
    </form>

    <p>
      ¿Aún no tienes cuenta?<a href="{% url 'registro' %}">
        Regístrate, es gratis.</a
      >
    </p>
    <p><a href="{% url 'home' %}">Vuelve al inicio</a></p>
  </body>
</html>
